
     .navbar{
       background: white;
       padding: 1rem 2rem;
       min-height: 12vh;
       

                
       .navbar-brand{
           font-size: 2.3rem;
             a{
               padding: 2rem 1rem;
               display: block;
               text-decoration: none;
               text-align: center;
           }
       }
   }
  
    


